Repository ueckoken/chofu-race-course, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci-cd, documentation, PB

.github/labeler.yml:

frontend:
  - client/**/*
backend:
  - go/**/*
ci-cd:
  - .github/**/*
documentation:
  - README.md
  - '**/docs/**/*.md'
PB:
  - './proto/**'
  - 'buf.gen.yaml'
  - 'buf.work.yaml'

Commit from GitHub Actions (compile_buf)
  proto/spec/v1/userdata.proto
Labels: PB

fix iroiro
  go/pkg/authorizer/jwtissuer.go
  go/pkg/handler/userDataService.go
Labels: backend

fix
  go/pkg/authorizer/authorizer.go
Labels: backend

add tests
  go/pkg/authorizer/jwtissuer.go
  go/pkg/authorizer/jwtissuer_test.go
Labels: backend

add file handler for horse data
  go/pkg/file/horse.go
  go/pkg/handler/raceDataService.go
Labels: backend

馬の登録APIを作成
  go/pkg/handler/raceDataService.go
Labels: backend

馬のデータに関して一部を除いて実装終了
  go/pkg/file/horse.go
  go/pkg/file/user.go
  go/pkg/handler/raceDataService.go
Labels: backend

コメントを追加した
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

fix
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

データを保存するファイルを起動時に作成するように
  compose.yaml
  dockerfiles/Dockerfile.VolumeChown
  go/Dockerfile
  go/internal/route.go
  go/pkg/file/file.go
  go/pkg/file/horse.go
  go/pkg/file/user.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
Labels: backend

IDのオートインクリメントを実装
  go/pkg/file/file.go
  go/pkg/file/horse.go
Labels: backend

馬の登録をできるように
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/go.mod
  go/go.sum
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  proto/spec/v1/userdata.proto
Labels: frontend, backend, documentation, PB

fix style
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  proto/spec/v1/userdata.proto
Labels: frontend, backend, documentation, PB

fix id
  go/pkg/handler/raceDataService.go
Labels: backend

write dockerfile for frontend
  client/Dockerfile
  client/next.config.js
  compose.yaml
Labels: frontend

add cors config
  go/go.mod
  go/go.sum
  go/main.go
Labels: backend

/horse でデータをフェッチしてくるようにした
  client/_proto/spec/v1/userdata_connectweb.ts
  client/src/pages/horse.tsx
  client/src/util/use-client.ts
Labels: frontend

fix buf
  buf.gen.yaml
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
Labels: frontend, PB

delete unused commit
  client/_proto/spec/v1/userdata_connectweb.ts
  client/_proto/spec/v1/userdata_pb.ts
Labels: frontend

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_connectweb.js
Labels: frontend

add cors opt
  go/main.go
Labels: backend

fix make backend
  Makefile
Labels: none

読み込み中表示を追加した
  client/src/pages/horse.tsx
Labels: frontend

next-buildが通るようにした
  client/src/pages/race/0.tsx
Labels: frontend

add proto for admin auth
  proto/spec/v1/userdata.proto
Labels: PB

use sneak case
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
Labels: frontend, backend, documentation

require jwt
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

implement administrator authentication
  go/internal/route.go
  go/pkg/authorizer/admin.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
Labels: backend

add err handling
  go/internal/route.go
Labels: backend

fix to use env
  go/internal/route.go
  go/main.go
  go/pkg/envConfig/config.go
Labels: backend

implement horse regist cli tool
  Makefile
  client/Dockerfile
  compose.yaml
  go/cmd/horseRegist/add.go
  go/cmd/regist/main.go
  go/go.mod
  go/go.sum
Labels: frontend, backend

fix test data
  Makefile
  go/Makefile
Labels: backend

fix path
  go/cmd/regist/horse/add.go
  go/cmd/regist/main.go
Labels: backend

add users field
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation
