Repository ueckoken/chofu-race-course, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci-cd, documentation, PB

write user storage test
  go/pkg/file/user_test.go
Labels: backend

implement user storage
  go/pkg/file/file.go
  go/pkg/file/horse.go
  go/pkg/file/user.go
Labels: backend

fix test to use tempdir
  go/pkg/authorizer/jwtissuer_test.go
Labels: backend

path.Join -> filepath.Join
  go/internal/route.go
  go/pkg/authorizer/admin.go
  go/pkg/authorizer/jwtissuer.go
  go/pkg/authorizer/jwtissuer_test.go
  go/pkg/file/user_test.go
Labels: backend

fix filename
  go/pkg/handler/horseDataService.go
Labels: backend

implement race store service handler
  go/pkg/handler/horseDataService.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
Labels: backend

add new message
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  proto/spec/v1/userdata.proto
Labels: frontend, backend, documentation, PB

implement race file storage
  go/pkg/file/race.go
  go/pkg/file/race_test.go
Labels: backend

馬の詳細ページを実装
  client/src/pages/horse.tsx
  client/src/pages/horse/[id].tsx
Labels: frontend

write docs
  Makefile
  README.md
  go/Makefile
Labels: backend, documentation

fix
  .github/workflows/gen_buf.yaml
Labels: ci-cd

add protoc-gen-validate in CI workflow
  .github/workflows/gen_buf.yaml
  buf.gen.yaml
Labels: ci-cd, PB

Commit from GitHub Actions (compile_buf)
  go/_proto/spec/v1/userdata.pb.validate.go
Labels: backend

write validate rule
  .github/workflows/gen_buf.yaml
  Makefile
  proto/buf.yaml
  proto/spec/v1/userdata.proto
  proto/vendor/protoc-gen-validate/README.md
  proto/vendor/protoc-gen-validate/validate.proto
Labels: ci-cd, PB

ignore vendor proto for lint
  proto/buf.yaml
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  proto/spec/v1/userdata.proto
  proto/vendor/protoc-gen-validate/validate.proto
Labels: frontend, backend, documentation, PB

resolve module dependancy
  go/go.mod
  go/go.sum
Labels: backend

write validate rule
  go/go.mod
  go/go.sum
  go/pkg/authorizer/admin.go
  go/pkg/authorizer/jwtissuer.go
  go/pkg/file/file.go
  proto/spec/v1/userdata.proto
Labels: backend, PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
Labels: frontend, backend, documentation

write horse validator
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/user.go
  proto/spec/v1/userdata.proto
Labels: backend, PB

revert user handler
  go/pkg/file/user.go
Labels: backend

insert validator in request handler
  go/pkg/handler/raceDataService.go
Labels: backend

implement vote begin
  go/pkg/handler/raceDataService.go
Labels: backend

write user request handler api test
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
Labels: backend

fix #90
  go/pkg/authorizer/jwtissuer.go
  go/pkg/authorizer/jwtissuer_test.go
Labels: backend

RangeRaceDataをAllRaceDataに変更
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
Labels: frontend, backend, documentation

エンドポイントをベタ書きから環境変数に変更
  client/.gitignore
  client/src/util/use-client.ts
Labels: frontend

fix
  client/.env.development
  client/.env.production
Labels: frontend

rename
  client/.env.development
  client/.env.production
  client/src/util/use-client.ts
Labels: frontend

Add Flux v0.35.0 component manifests
  flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  flux-system/gotk-sync.yaml
  flux-system/kustomization.yaml
Labels: none

write workflow
  .github/workflows/deploy-api-server.yaml
Labels: ci-cd

write
  .github/workflows/deploy-client.yaml
Labels: ci-cd

fix path to docker file
  .github/workflows/deploy-api-server.yaml
  .github/workflows/deploy-client.yaml
Labels: ci-cd

write k8s manifests
  flux-system/kustomization.yaml
  manifests/flux-system/gotk-components.yaml
  manifests/flux-system/gotk-sync.yaml
  manifests/flux-system/kustomization.yaml
  manifests/manifests/api-server/api.yaml
  manifests/manifests/api-server/kustomization.yml
  manifests/manifests/kustomization.yaml
  manifests/manifests/nextjs/kustomization.yml
  manifests/manifests/nextjs/next.yaml
Labels: none

add ingress resource
  manifests/manifests/api-server/api.yaml
  manifests/manifests/nextjs/next.yaml
Labels: none

continue github actions tasks when get error
  .github/workflows/gen_buf.yaml
Labels: ci-cd

fix
  .github/workflows/check_go.yaml
  .github/workflows/gen_buf.yaml
Labels: ci-cd

.github/labeler.yml:

frontend:
  - client/**/*
backend:
  - go/**/*
ci-cd:
  - .github/**/*
documentation:
  - README.md
  - '**/docs/**/*.md'
PB:
  - './proto/**'
  - 'buf.gen.yaml'
  - 'buf.work.yaml'
