Repository ueckoken/chofu-race-course, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci-cd, documentation, PB

.github/labeler.yml:

frontend:
  - client/**/*
backend:
  - go/**/*
ci-cd:
  - .github/**/*
documentation:
  - README.md
  - '**/docs/**/*.md'
PB:
  - './proto/**'
  - 'buf.gen.yaml'
  - 'buf.work.yaml'

embed unimplemented struct
  go/pkg/handler/horseDataService.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
Labels: backend

data store に Updateメソッドを追加
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
Labels: backend

add edit horse rpc
  go/pkg/handler/horseDataService.go
Labels: backend

delete validate rules
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
Labels: backend

write mutex
  go/pkg/file/horse.go
Labels: backend

競争馬編集フォーム
  client/src/pages/admin.tsx
Labels: frontend

写真以外のフォームを書いた
  client/src/pages/admin.tsx
  proto/spec/v1/userdata.proto
Labels: frontend, PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
Labels: frontend, backend, documentation

写真の登録機能を追加
  client/src/pages/admin.tsx
  client/src/pages/horse/[id].tsx
Labels: frontend

add admin authenticate in edit horse API
  go/pkg/handler/horseDataService.go
Labels: backend

不要になったmake data-addを消した
  Makefile
Labels: none

ghcr.io/ueckoken/chofu-race-course-api:0e7b29a-1665333730
  manifests/manifests/api-server/api.yaml
Labels: none

ghcr.io/ueckoken/chofu-race-course-webapp:0e7b29a-1665333727
  manifests/manifests/nextjs/next.yaml
Labels: none

deployment を楽にするツールを入れました
  .github/workflows/auto-deploy.yaml
Labels: ci-cd

着順に除外を追加 #132
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  proto/spec/v1/userdata.proto
Labels: frontend, backend, documentation, PB

fix
  .github/workflows/auto-deploy.yaml
Labels: ci-cd

add skip ci config
  manifests/manifests/image-automation/image-automation.yaml
Labels: none

レース登録UIを実装
  client/src/pages/admin.tsx
  client/src/pages/race.tsx
  client/src/pages/race/0.tsx
  client/src/pages/race/[id].tsx
Labels: frontend

thead&tbodyを追加
  client/src/pages/race/[id].tsx
Labels: frontend
