Repository ueckoken/chofu-race-course, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci-cd, documentation, PB

.github/labeler.yml:

frontend:
  - client/**/*
backend:
  - go/**/*
ci-cd:
  - .github/**/*
documentation:
  - README.md
  - '**/docs/**/*.md'
PB:
  - './proto/**'
  - 'buf.gen.yaml'
  - 'buf.work.yaml'

write env vars parse
  go/go.mod
  go/go.sum
  go/internal/route.go
  go/main.go
  go/pkg/envConfig/config.go
Labels: backend

fix import
  go/main.go
Labels: backend

write go docker file
  go/Dockerfile
Labels: backend

write dockerfile to develop frontend
  Makefile
  compose.yaml
  go/Dockerfile
  go/main.go
Labels: backend

簡易用途の型と詳細用途の型の共通部分を流用するようにした
  proto/spec/v1/userdata.proto
Labels: PB

fix
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

型の変更を反映
  client/src/pages/horse/0.tsx
  client/src/pages/race.tsx
  client/src/pages/race/0.tsx
Labels: frontend

混入してたバックスラッシュを破壊
  client/src/pages/horse/0.tsx
Labels: frontend

fix ci workflow
  .github/workflows/check_go.yaml
  .github/workflows/check_ts.yaml
Labels: ci-cd

fix go server message
  Makefile
  go/main.go
Labels: backend

check yarn version
  .github/workflows/check_ts.yaml
Labels: ci-cd

fix yarn environment
  client/.gitignore
  client/.yarn/releases/yarn-3.0.0.cjs
  client/.yarn/releases/yarn-3.2.3.cjs
  client/.yarnrc.yml
  client/package.json
  client/yarn.lock
Labels: frontend

fix router
  go/internal/route.go
  go/main.go
  go/pkg/envConfig/config.go
  go/pkg/file/user.go
  go/pkg/handler/userDataService.go
  go/pkg/store/type.go
  go/pkg/store/user.go
Labels: backend

fix handler
  go/Makefile
  go/pkg/handler/userDataService.go
Labels: backend

fix go architecture
  go/pkg/file/user.go
  go/pkg/handler/userDataService.go
  go/pkg/store/type.go
Labels: backend

競争馬登録用インターフェースを追加
  proto/spec/v1/userdata.proto
Labels: PB

パスパスカル
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

サービスに追加
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_connectweb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
Labels: frontend, backend, documentation

add proto file formatter in generator
  .github/workflows/gen_buf.yaml
Labels: ci-cd

Commit from GitHub Actions (compile_buf)
  proto/spec/v1/userdata.proto
Labels: PB

fix
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

レース登録用インターフェースを追加した
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_connectweb.ts
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
Labels: frontend, backend, documentation

add eslint
  client/.eslintrc.js
  client/package.json
  client/yarn.lock
Labels: frontend

add eslint check
  .github/workflows/check_ts.yaml
Labels: ci-cd

fix eslint rules
  client/.eslintrc.js
Labels: frontend

fix
  .github/workflows/gen_buf.yaml
  go/_proto/spec/v1/userdata.pb.go
Labels: backend, ci-cd

Commit from GitHub Actions (compile_buf)
  go/_proto/spec/v1/userdata.pb.go
Labels: backend

fix
  .github/workflows/check_ts.yaml
Labels: ci-cd

version check in workflow
  .github/workflows/check_ts.yaml
Labels: ci-cd

fix
  .github/workflows/check_ts.yaml
Labels: ci-cd

fix
  .github/workflows/check_ts.yaml
Labels: ci-cd

add linter
  .github/workflows/check_ts.yaml
Labels: ci-cd

fix yarn cache strategy
  .github/workflows/check_ts.yaml
  .github/workflows/gen_buf.yaml
Labels: ci-cd

fix for suite jsx rules
  client/src/pages/horse/0.tsx
  client/src/pages/index.tsx
  client/src/pages/race/0.tsx
Labels: frontend

key名を修正
  client/src/pages/horse/0.tsx
  client/src/pages/race/0.tsx
Labels: frontend
