Repository ueckoken/chofu-race-course, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci-cd, documentation, PB

.github/labeler.yml:

frontend:
  - any:
      - client/**/*
      - "!client/_proto/**"
backend:
  - any:
      - go/**/*
      - "!go/_proto/**"
ci-cd:
  - .github/**/*
documentation:
  - README.md
  - "**/docs/**/*.md"
PB:
  - "proto/**/*.proto"
  - "buf.gen.yaml"
  - "buf.work.yaml"

add golangci-lint rule
  .github/workflows/check_go.yaml
  go/.golangci.yml
Labels: backend, ci-cd

fix
  go/.golangci.yml
  go/pkg/authorizer/authorizer.go
  go/pkg/authorizer/jwtissuer.go
  go/pkg/file/horse.go
  go/pkg/file/persistent.go
  go/pkg/file/race.go
  go/pkg/handler/horseDataService_test.go
Labels: backend

delete unused env
  .github/workflows/check_go.yaml
Labels: ci-cd

delete wsl linter
  go/.golangci.yml
  go/cmd/regist/horse/add.go
  go/go.mod
  go/go.sum
  go/main.go
Labels: backend

fix
  go/pkg/file/file.go
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
  go/pkg/file/race.go
  go/pkg/file/race_test.go
  go/pkg/file/user.go
  go/pkg/file/user_test.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
Labels: backend

add timeout config
  go/main.go
Labels: backend

fix
  client/src/pages/admin.tsx
Labels: frontend

特設サイトの文言を変更
  client/src/pages/special/shinbao.tsx
Labels: frontend

表示に除外を追加
  client/src/util/util.ts
Labels: frontend

Update go/main.go
  go/main.go
Labels: backend

rewrite connect go response
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
Labels: backend
