Repository ueckoken/chofu-race-course, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci-cd, documentation, PB

.github/labeler.yml:

frontend:
  - client/**/*
backend:
  - go/**/*
ci-cd:
  - .github/**/*
documentation:
  - README.md
  - '**/docs/**/*.md'
PB:
  - './proto/**'
  - 'buf.gen.yaml'
  - 'buf.work.yaml'

fix path
  .github/workflows/gen_buf.yaml
Labels: ci-cd

delete github actions changes
  .github/workflows/check_go.yaml
  .github/workflows/gen_buf.yaml
Labels: ci-cd

implement allRaceData
  go/internal/route.go
  go/pkg/authorizer/jwtissuer_test.go
  go/pkg/file/race.go
  go/pkg/handler/raceDataService.go
Labels: backend

add build check
  .github/workflows/check_ts.yaml
Labels: ci-cd

add ingress nginx helm chart
  manifests/manifests/helm/ingress-nginx.yaml
  manifests/manifests/kustomization.yaml
Labels: none

append renovate
  renovate.json
Labels: none

pinning version
  manifests/manifests/helm/ingress-nginx.yaml
Labels: none

add version
  manifests/manifests/helm/kustomization.yaml
Labels: none

add ns
  manifests/manifests/helm/ingress-nginx.yaml
Labels: none

write ingress class name
  manifests/manifests/api-server/api.yaml
  manifests/manifests/nextjs/next.yaml
Labels: none

fix label name
  manifests/manifests/nextjs/next.yaml
Labels: none

insert cors options
  go/main.go
  go/pkg/envConfig/config.go
Labels: backend

add image automation
  client/.env.production
  manifests/manifests/api-server/api.yaml
  manifests/manifests/api-server/imagepolicy.yaml
  manifests/manifests/api-server/kustomization.yml
  manifests/manifests/api-server/repository.yaml
  manifests/manifests/image-automation/image-automation.yaml
  manifests/manifests/image-automation/kustomization.yaml
  manifests/manifests/kustomization.yaml
  manifests/manifests/nextjs/imagepolicy.yaml
  manifests/manifests/nextjs/kustomization.yml
  manifests/manifests/nextjs/next.yaml
  manifests/manifests/nextjs/repository.yaml
Labels: frontend

add extra flux components
  manifests/flux-system/gotk-components.yaml
Labels: none

fix kustomize path
  manifests/flux-system/gotk-sync.yaml
Labels: none

add kustomization
  manifests/kustomization.yaml
Labels: none

imageautomation resource と gitrepository を同じディレクトリに配置
  manifests/manifests/api-server/api.yaml
  manifests/manifests/api-server/imagepolicy.yaml
  manifests/manifests/nextjs/imagepolicy.yaml
  manifests/manifests/nextjs/next.yaml
Labels: none

fix workflow
  .github/workflows/deploy-api-server.yaml
  .github/workflows/deploy-client.yaml
  .github/workflows/gen_buf.yaml
Labels: ci-cd

fix ns
  manifests/manifests/api-server/repository.yaml
  manifests/manifests/nextjs/repository.yaml
Labels: none

ghcr.io/ueckoken/chofu-race-course-webapp:cb35ed2-1665152584 ghcr.io/ueckoken/chofu-race-course-api:cb35ed2-1665152594
  manifests/manifests/api-server/api.yaml
  manifests/manifests/nextjs/next.yaml
Labels: none

implement race database Update, and Delete.
  compose.yaml
  dockerfiles/Dockerfile.VolumeChown
  go/Dockerfile
  go/main.go
  go/pkg/envConfig/config.go
  go/pkg/file/race.go
  go/pkg/file/race_test.go
  manifests/manifests/api-server/api.yaml
Labels: backend

fix
  client/src/pages/index.tsx
  client/src/pages/race.tsx
Labels: frontend

SSGに書き直した
  client/src/pages/horse.tsx
  client/src/pages/horse/[id].tsx
  client/src/util/use-client.ts
Labels: frontend

fix
  client/src/pages/horse/[id].tsx
Labels: frontend

fix
  client/src/pages/horse.tsx
Labels: frontend

write delete test
  go/pkg/file/race_test.go
Labels: backend

titleを付けた
  client/src/pages/horse.tsx
  client/src/pages/horse/[id].tsx
  client/src/pages/index.tsx
  client/src/pages/race.tsx
Labels: frontend

特設サイトを追加
  client/src/pages/index.tsx
  client/src/pages/special/shinbao.tsx
Labels: frontend

fix
  client/src/pages/index.tsx
  client/src/pages/special/shinbao.tsx
Labels: frontend

add cert-manager
  manifests/manifests/cert-manager/kustomization.yaml
  manifests/manifests/cert-manager/namespace.yaml
  manifests/manifests/cert-manager/prod.yaml
  manifests/manifests/cert-manager/staging.yaml
  manifests/manifests/helm/cert-manager.yaml
  manifests/manifests/helm/kustomization.yaml
Labels: none

add staging cert issuer
  manifests/manifests/api-server/api.yaml
Labels: none

kustomization にリソース追加するの忘れてた
  manifests/manifests/kustomization.yaml
Labels: none

delete duplicated namespace resource declare
  manifests/manifests/cert-manager/kustomization.yaml
  manifests/manifests/cert-manager/namespace.yaml
Labels: none

lets encrypt staging -> prod
  manifests/manifests/api-server/api.yaml
Labels: none

delete
  manifests/manifests/api-server/api.yaml
  manifests/manifests/kustomization.yaml
Labels: none

delete cert manager
  manifests/manifests/kustomization.yaml
Labels: none

delete cert manager
  manifests/manifests/helm/kustomization.yaml
Labels: none

デバッグ用のconsole.logを仕込んだ
  client/src/pages/horse/[id].tsx
Labels: frontend

不要importを削除
  client/src/pages/horse/[id].tsx
Labels: frontend

デバッグ用のtry-catchを仕込んだ
  client/src/pages/horse/[id].tsx
Labels: frontend
