Repository ueckoken/chofu-race-course, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci-cd, documentation, PB

.github/labeler.yml:

frontend:
  - client/**/*
backend:
  - go/**/*
ci-cd:
  - .github/**/*
documentation:
  - README.md
  - '**/docs/**/*.md'
PB:
  - './proto/**'
  - 'buf.gen.yaml'
  - 'buf.work.yaml'

Next.js integrated ESLint
  client/.eslintrc.js
  client/.eslintrc.json
  client/package.json
  client/yarn.lock
Labels: frontend

投票ページを追加した
  client/src/components/Header.tsx
  client/src/pages/404.tsx
  client/src/pages/vote.tsx
Labels: frontend

HorseDetailにimageを追加した
  proto/spec/v1/userdata.proto
Labels: PB

fix
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

拡張子のクラスを列挙型にした
  proto/spec/v1/userdata.proto
Labels: PB

fix prefix
  proto/spec/v1/userdata.proto
Labels: PB

fix
  proto/spec/v1/userdata.proto
Labels: PB

fix suffix
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

fix ci
  .github/workflows/check_go.yaml
  .github/workflows/check_ts.yaml
Labels: ci-cd

fix ci
  .github/workflows/check_go.yaml
  .github/workflows/check_ts.yaml
Labels: ci-cd

Update .github/workflows/check_ts.yaml
  .github/workflows/check_ts.yaml
Labels: ci-cd

fix workflow
  .github/workflows/gen_buf.yaml
Labels: ci-cd

fix github actions workflows
  .github/workflows/check_go.yaml
  .github/workflows/check_ts.yaml
  .github/workflows/gen_buf.yaml
Labels: ci-cd

fix
  .github/workflows/gen_buf.yaml
Labels: ci-cd

fix working directory
  .github/workflows/check_go.yaml
Labels: ci-cd

fix
  .github/workflows/check_go.yaml
Labels: ci-cd

順位に取消と中止を追加
  proto/spec/v1/userdata.proto
Labels: PB

fix
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

コメント追加
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

fix
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

fix
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

add authentication features
  proto/spec/v1/userdata.proto
Labels: PB

fix ts
  client/src/pages/horse/0.tsx
  client/src/pages/race/0.tsx
  client/src/util/util.ts
  proto/spec/v1/userdata.proto
Labels: frontend, PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_connectweb.ts
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  proto/spec/v1/userdata.proto
Labels: frontend, backend, documentation, PB

fix check workflow
  .github/workflows/check.yaml
  .github/workflows/check_go.yaml
  .github/workflows/check_ts.yaml
Labels: ci-cd

change user to deprecated to avoid breaking compatibility
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

fix
  .github/workflows/check_go.yaml
  .github/workflows/gen_buf.yaml
Labels: ci-cd

implement general user authentication
  go/go.mod
  go/go.sum
  go/internal/route.go
  go/pkg/authorizer/authorizer.go
  go/pkg/authorizer/jwtissuer.go
  proto/spec/v1/userdata.proto
Labels: backend, PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  proto/spec/v1/userdata.proto
Labels: frontend, backend, documentation, PB

embed jwt into request data instead of bearer
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
Labels: frontend, backend, documentation

implement authorization
  go/internal/route.go
  go/pkg/authorizer/utils.go
  go/pkg/handler/userDataService.go
  proto/spec/v1/userdata.proto
Labels: backend, PB
