Repository ueckoken/chofu-race-course, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, ci-cd, documentation, PB

.github/labeler.yml:

frontend:
  - client/**/*
backend:
  - go/**/*
ci-cd:
  - .github/**/*
documentation:
  - README.md
  - '**/docs/**/*.md'
PB:
  - './proto/**'
  - 'buf.gen.yaml'
  - 'buf.work.yaml'

ghcr.io/ueckoken/chofu-race-course-api:9f199a1-1665293057
  manifests/manifests/api-server/api.yaml
Labels: none

ghcr.io/ueckoken/chofu-race-course-webapp:9f199a1-1665293060
  manifests/manifests/nextjs/next.yaml
Labels: none

古き良きconsole.logデバッグでエラー起こす行を特定
  client/src/pages/horse/[id].tsx
Labels: frontend

console.logを破壊
  client/src/pages/horse/[id].tsx
Labels: frontend

fix
  client/src/pages/horse/[id].tsx
Labels: frontend

外部リンクにnoreferrerを追加
  client/src/pages/index.tsx
Labels: frontend

投票ページを消し飛ばした
  client/src/components/Header.tsx
  client/src/pages/vote.tsx
Labels: frontend

ghcr.io/ueckoken/chofu-race-course-api:61af105-1665294916
  manifests/manifests/api-server/api.yaml
Labels: none

ghcr.io/ueckoken/chofu-race-course-webapp:61af105-1665294916
  manifests/manifests/nextjs/next.yaml
Labels: none

add create, read benchmark
  go/go.mod
  go/go.sum
  go/pkg/file/horse_test.go
Labels: backend

ガワを作った
  client/src/pages/admin.tsx
Labels: frontend

add validate rule
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
Labels: backend

add validate test
  go/pkg/file/horse_test.go
Labels: backend

ガバ実装した
  client/src/pages/admin.tsx
Labels: frontend

ログイン状態を表示するようにした
  client/src/pages/admin.tsx
Labels: frontend

登録完了メッセージを実装
  client/src/pages/admin.tsx
Labels: frontend

refactor persistent for using cache
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
  go/pkg/file/race.go
  go/pkg/file/race_test.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  go/pkg/handler/raceDataService.go
Labels: backend

fix
  go/pkg/file/race.go
Labels: backend

ghcr.io/ueckoken/chofu-race-course-webapp:b74b083-1665304775
  manifests/manifests/nextjs/next.yaml
Labels: none

ghcr.io/ueckoken/chofu-race-course-api:b74b083-1665304781
  manifests/manifests/api-server/api.yaml
Labels: none

fix and remove benchmark
  go/pkg/file/file.go
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
Labels: backend

add persistance test
  go/pkg/file/horse_test.go
Labels: backend

fix a bug: forgot return
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
Labels: backend

fix
  go/pkg/file/horse_test.go
Labels: backend

fix validate rule
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/pkg/handler/horseDataService.go
  proto/spec/v1/userdata.proto
Labels: backend, PB

fix with workaround(maybe bad...)
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
  go/pkg/file/race.go
  go/pkg/file/race_test.go
Labels: backend

ghcr.io/ueckoken/chofu-race-course-api:3d89e3b-1665309571
  manifests/manifests/api-server/api.yaml
Labels: none

ghcr.io/ueckoken/chofu-race-course-webapp:3d89e3b-1665309571
  manifests/manifests/nextjs/next.yaml
Labels: none

ghcr.io/ueckoken/chofu-race-course-webapp:821d653-1665310619
  manifests/manifests/nextjs/next.yaml
Labels: none

ghcr.io/ueckoken/chofu-race-course-api:821d653-1665310627
  manifests/manifests/api-server/api.yaml
Labels: none

ランキングにリンクを追加
  client/src/pages/special/shinbao.tsx
Labels: frontend

不要カンマを破壊
  client/src/pages/special/shinbao.tsx
Labels: frontend

ghcr.io/ueckoken/chofu-race-course-api:8671f8a-1665311856
  manifests/manifests/api-server/api.yaml
Labels: none

ghcr.io/ueckoken/chofu-race-course-webapp:8671f8a-1665311856
  manifests/manifests/nextjs/next.yaml
Labels: none

馬のidソートを入れた
  client/src/pages/horse.tsx
  client/src/pages/special/shinbao.tsx
Labels: frontend

ghcr.io/ueckoken/chofu-race-course-api:83f19dd-1665312612
  manifests/manifests/api-server/api.yaml
Labels: none

ghcr.io/ueckoken/chofu-race-course-webapp:83f19dd-1665312606
  manifests/manifests/nextjs/next.yaml
Labels: none

EditHorseを定義した
  proto/spec/v1/userdata.proto
Labels: PB

Commit from GitHub Actions (compile_buf)
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
Labels: frontend, backend, documentation
