Repository ueckoken/chofu-race-course, pull requests merged in 2022-09, with the labels that each got.

#13 PBドキュメントを追加
  .github/labeler.yml
  .github/workflows/gen_buf.yaml
  .github/workflows/pr-labeler.yaml
  client/_proto/spec/v1/userdata_connectweb.ts
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  proto/spec/v1/userdata.proto
Labels: documentation, ci-cd, PB

#17 永続的に値を保存するストアの作成
  .github/labeler.yml
  .github/workflows/check_go.yaml
  go/go.mod
  go/go.sum
  go/internal/route.go
  go/main.go
  go/pkg/serv/userDataService.go
  go/pkg/storage/user.go
  go/pkg/store/user.go
Labels: ci-cd

#21 投票サービスを追加
  .github/workflows/check_go.yaml
  .github/workflows/check_ts.yaml
  .github/workflows/gen_buf.yaml
  client/_proto/spec/v1/userdata_connectweb.ts
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  proto/spec/v1/userdata.proto
Labels: documentation, ci-cd

#24 リクエストハンドラーを改名
  .github/labeler.yml
  go/internal/route.go
  go/pkg/handler/userDataService.go
Labels: backend, ci-cd

#25 環境変数をパースする機能を追加
  go/go.mod
  go/go.sum
  go/internal/route.go
  go/main.go
  go/pkg/envConfig/config.go
Labels: backend

#23 型のコメントを書いた
  .github/workflows/check_go.yaml
  .github/workflows/check_ts.yaml
  client/_proto/spec/v1/userdata_pb.ts
  client/src/pages/horse/0.tsx
  client/src/pages/race.tsx
  client/src/pages/race/0.tsx
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/pkg/handler/userDataService.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend, ci-cd

#28 yarn v2が正常に使えない問題を修正
  .github/workflows/check_ts.yaml
  client/.gitignore
  client/.yarn/releases/yarn-3.0.0.cjs
  client/.yarn/releases/yarn-3.2.3.cjs
  client/.yarnrc.yml
  client/package.json
  client/yarn.lock
Labels: frontend, ci-cd

#26 開発用Dockerイメージを作成
  Makefile
  compose.yaml
  go/Dockerfile
  go/main.go
Labels: backend

#29 fix router
  go/Makefile
  go/internal/route.go
  go/main.go
  go/pkg/envConfig/config.go
  go/pkg/file/user.go
  go/pkg/handler/userDataService.go
  go/pkg/store/user.go
Labels: backend

#30 競争馬登録用インターフェースを追加
  .github/workflows/gen_buf.yaml
  client/_proto/spec/v1/userdata_connectweb.ts
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend, ci-cd

#32 レース登録用インターフェースを追加した
  client/_proto/spec/v1/userdata_connectweb.ts
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#33 add eslint in CI
  .github/workflows/check_ts.yaml
  .github/workflows/gen_buf.yaml
  client/.eslintrc.js
  client/package.json
  client/src/pages/horse/0.tsx
  client/src/pages/index.tsx
  client/src/pages/race/0.tsx
  client/yarn.lock
Labels: frontend, ci-cd

#35 投票ページを追加した
  client/src/components/Header.tsx
  client/src/pages/404.tsx
  client/src/pages/vote.tsx
Labels: frontend

#39 HorseDetailにimageを追加した
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#43 それぞれの言語のチェックに対して変更ファイルの条件を廃止
  .github/workflows/check_go.yaml
  .github/workflows/check_ts.yaml
Labels: ci-cd

#44 fix ci
  .github/workflows/check_go.yaml
  .github/workflows/check_ts.yaml
Labels: ci-cd

#56 fix github actions workflows
  .github/workflows/check_go.yaml
  .github/workflows/check_ts.yaml
  .github/workflows/gen_buf.yaml
Labels: ci-cd

#57 順位に取消と中止を追加
  client/_proto/spec/v1/userdata_pb.ts
  client/src/pages/horse/0.tsx
  client/src/pages/race/0.tsx
  client/src/util/util.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#58 add authentication features to proto
  client/_proto/spec/v1/userdata_connectweb.ts
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend
