Repository ueckoken/chofu-race-course, pull requests merged in 2022-10, with the labels that each got.

#63 implement general user authentication
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/go.mod
  go/go.sum
  go/internal/route.go
  go/pkg/authorizer/authorizer.go
  go/pkg/authorizer/jwtissuer.go
  go/pkg/authorizer/jwtissuer_test.go
  go/pkg/authorizer/utils.go
  go/pkg/handler/userDataService.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#68 コメントを追加した
  client/_proto/spec/v1/userdata_pb.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#66 馬の登録をするAPIを実装
  client/_proto/spec/v1/userdata_pb.ts
  compose.yaml
  dockerfiles/Dockerfile.VolumeChown
  docs/protobuf.md
  go/Dockerfile
  go/_proto/spec/v1/userdata.pb.go
  go/go.mod
  go/go.sum
  go/internal/route.go
  go/pkg/file/file.go
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/user.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#73 add cors config
  go/go.mod
  go/go.sum
  go/main.go
Labels: backend

#76 connect-webの生成規則を変更
  buf.gen.yaml
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  client/_proto/spec/v1/userdata_pb.ts
Labels: frontend, PB

#72 フロントエンド向けのDockerfileを作成
  Makefile
  client/Dockerfile
  client/next.config.js
  compose.yaml
Labels: frontend

#75 /horse でデータをフェッチしてくるようにした
  client/src/pages/horse.tsx
  client/src/util/use-client.ts
  go/main.go
Labels: frontend, backend

#85 読み込み中表示を追加した
  client/src/pages/horse.tsx
Labels: frontend

#87 next-buildが通るようにした
  client/src/pages/race/0.tsx
Labels: frontend

#88 implement admin user authentication
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  go/internal/route.go
  go/main.go
  go/pkg/authorizer/admin.go
  go/pkg/envConfig/config.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#89 implement horse regist cli tool
  client/Dockerfile
  compose.yaml
  go/Makefile
  go/cmd/horseRegist/add.go
  go/cmd/regist/main.go
  go/go.mod
  go/go.sum
Labels: frontend, backend

#97 テストデータの入れかたをドキュメントに記入
  Makefile
  README.md
  go/Makefile
Labels: documentation, backend

#91 CLIツールのディレクトリ構成を変更
  go/cmd/regist/horse/add.go
  go/cmd/regist/main.go
Labels: backend

#101 自動生成コードの生成後にテストを通すように
  .github/workflows/gen_buf.yaml
Labels: ci-cd

#92 Userの保存メソッドを実装
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/internal/route.go
  go/pkg/authorizer/admin.go
  go/pkg/authorizer/jwtissuer.go
  go/pkg/authorizer/jwtissuer_test.go
  go/pkg/file/file.go
  go/pkg/file/horse.go
  go/pkg/file/user.go
  go/pkg/file/user_test.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#104 write validate rule
  .github/workflows/gen_buf.yaml
  Makefile
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/go.mod
  go/go.sum
  proto/buf.yaml
  proto/spec/v1/userdata.proto
  proto/vendor/protoc-gen-validate/README.md
  proto/vendor/protoc-gen-validate/validate.proto
Labels: documentation, frontend, backend, ci-cd

#93 implement race data service
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/pkg/file/race.go
  go/pkg/file/race_test.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#107 fix #90
  go/pkg/authorizer/jwtissuer.go
  go/pkg/authorizer/jwtissuer_test.go
Labels: backend

#105 write horse validator
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  go/pkg/handler/raceDataService.go
  proto/spec/v1/userdata.proto
Labels: backend

#110 エンドポイントをベタ書きから環境変数に変更
  client/.env.development
  client/.env.production
  client/.gitignore
  client/src/util/use-client.ts
Labels: frontend

#112 container image build workflow
  .github/workflows/deploy-api-server.yaml
  .github/workflows/deploy-client.yaml
Labels: ci-cd

#113 test image build
  .github/workflows/deploy-api-server.yaml
  .github/workflows/deploy-client.yaml
Labels: ci-cd

#114 github actoinsのビルドワークフローを修正
  .github/workflows/deploy-api-server.yaml
  .github/workflows/deploy-client.yaml
Labels: ci-cd

#126 image automation
  client/.env.production
  go/main.go
  go/pkg/envConfig/config.go
  manifests/manifests/api-server/api.yaml
  manifests/manifests/api-server/imagepolicy.yaml
  manifests/manifests/api-server/kustomization.yml
  manifests/manifests/api-server/repository.yaml
  manifests/manifests/image-automation/image-automation.yaml
  manifests/manifests/image-automation/kustomization.yaml
  manifests/manifests/kustomization.yaml
  manifests/manifests/nextjs/imagepolicy.yaml
  manifests/manifests/nextjs/kustomization.yml
  manifests/manifests/nextjs/next.yaml
  manifests/manifests/nextjs/repository.yaml
Labels: backend

#128 deployment-cors-opt-inject with envvars
  .github/workflows/deploy-api-server.yaml
  .github/workflows/deploy-client.yaml
  client/.env.production
  client/.yarn/releases/yarn-3.2.3.cjs
  client/.yarn/releases/yarn-3.2.4.cjs
  client/.yarnrc.yml
  client/package.json
  client/yarn.lock
  flux-system/kustomization.yaml
  go/main.go
  go/pkg/envConfig/config.go
  manifests/flux-system/gotk-components.yaml
  manifests/flux-system/gotk-sync.yaml
  manifests/flux-system/kustomization.yaml
  manifests/kustomization.yaml
  manifests/manifests/api-server/api.yaml
  manifests/manifests/api-server/imagepolicy.yaml
  manifests/manifests/api-server/kustomization.yml
  manifests/manifests/api-server/repository.yaml
  manifests/manifests/helm/ingress-nginx.yaml
  manifests/manifests/helm/kustomization.yaml
  manifests/manifests/image-automation/image-automation.yaml
  manifests/manifests/image-automation/kustomization.yaml
  manifests/manifests/kustomization.yaml
  manifests/manifests/nextjs/imagepolicy.yaml
  manifests/manifests/nextjs/kustomization.yml
  manifests/manifests/nextjs/next.yaml
  manifests/manifests/nextjs/repository.yaml
  renovate.json
Labels: frontend, backend, ci-cd

#130 imageautomation resource と gitrepository を同じディレクトリに配置
  .github/workflows/deploy-api-server.yaml
  .github/workflows/deploy-client.yaml
  .github/workflows/gen_buf.yaml
  manifests/manifests/api-server/api.yaml
  manifests/manifests/api-server/imagepolicy.yaml
  manifests/manifests/nextjs/imagepolicy.yaml
  manifests/manifests/nextjs/next.yaml
Labels: ci-cd

#109 RangeRaceDataをAllRaceDataに変更
  .github/workflows/check_ts.yaml
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  client/src/pages/index.tsx
  client/src/pages/race.tsx
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  go/internal/route.go
  go/pkg/authorizer/jwtissuer_test.go
  go/pkg/file/race.go
  go/pkg/handler/raceDataService.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend, ci-cd

#131 レースデータベースメソッドに更新と削除を実装
  compose.yaml
  dockerfiles/Dockerfile.VolumeChown
  go/Dockerfile
  go/main.go
  go/pkg/envConfig/config.go
  go/pkg/file/race.go
  go/pkg/file/race_test.go
  manifests/manifests/api-server/api.yaml
Labels: backend

#137 titleを付けた
  client/src/pages/horse.tsx
  client/src/pages/horse/[id].tsx
  client/src/pages/index.tsx
  client/src/pages/race.tsx
Labels: frontend

#145 cors debug true
  .github/workflows/check_ts.yaml
  .github/workflows/deploy-api-server.yaml
  .github/workflows/deploy-client.yaml
  .github/workflows/gen_buf.yaml
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  client/src/pages/horse.tsx
  client/src/pages/horse/[id].tsx
  client/src/pages/index.tsx
  client/src/pages/race.tsx
  compose.yaml
  dockerfiles/Dockerfile.VolumeChown
  docs/protobuf.md
  go/Dockerfile
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  go/internal/route.go
  go/main.go
  go/pkg/authorizer/jwtissuer_test.go
  go/pkg/envConfig/config.go
  go/pkg/file/race.go
  go/pkg/file/race_test.go
  go/pkg/handler/raceDataService.go
  manifests/manifests/api-server/api.yaml
  manifests/manifests/api-server/imagepolicy.yaml
  manifests/manifests/api-server/repository.yaml
  manifests/manifests/cert-manager/kustomization.yaml
  manifests/manifests/cert-manager/prod.yaml
  manifests/manifests/cert-manager/staging.yaml
  manifests/manifests/helm/cert-manager.yaml
  manifests/manifests/helm/kustomization.yaml
  manifests/manifests/kustomization.yaml
  manifests/manifests/nextjs/imagepolicy.yaml
  manifests/manifests/nextjs/next.yaml
  manifests/manifests/nextjs/repository.yaml
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend, ci-cd

#135 SSGに書き直した
  client/src/pages/horse.tsx
  client/src/pages/horse/[id].tsx
  client/src/util/use-client.ts
Labels: frontend

#139 特設サイトを追加
  client/src/pages/index.tsx
  client/src/pages/special/shinbao.tsx
Labels: frontend

#146 投票ページを消し飛ばした
  client/src/components/Header.tsx
  client/src/pages/vote.tsx
Labels: frontend

#147 プルプル
  client/package.json
  client/src/components/Header.tsx
  client/src/pages/horse.tsx
  client/src/pages/horse/[id].tsx
  client/src/pages/index.tsx
  client/src/pages/special/shinbao.tsx
  client/src/pages/vote.tsx
  client/src/util/use-client.ts
  client/yarn.lock
  manifests/manifests/api-server/api.yaml
  manifests/manifests/nextjs/next.yaml
Labels: frontend

#149 馬名に伸ばし棒を許容
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/pkg/file/horse_test.go
  proto/spec/v1/userdata.proto
Labels: backend

#148 管理者ページを作った
  client/src/pages/admin.tsx
Labels: frontend

#150 [deploy]管理者ページを付けて登録できるようにした
  client/src/pages/admin.tsx
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/pkg/file/horse_test.go
  manifests/manifests/api-server/api.yaml
  manifests/manifests/nextjs/next.yaml
  proto/spec/v1/userdata.proto
Labels: frontend, backend

#152 Use cache
  go/go.mod
  go/go.sum
  go/pkg/file/file.go
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
  go/pkg/file/race.go
  go/pkg/file/race_test.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  go/pkg/handler/raceDataService.go
Labels: backend

#153 馬名登録のルールを修正
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/pkg/handler/horseDataService.go
  proto/spec/v1/userdata.proto
Labels: backend

#154 deploy-cache-implemention
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/go.mod
  go/go.sum
  go/pkg/file/file.go
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
  go/pkg/file/race.go
  go/pkg/file/race_test.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  go/pkg/handler/raceDataService.go
  manifests/manifests/api-server/api.yaml
  manifests/manifests/nextjs/next.yaml
  proto/spec/v1/userdata.proto
Labels: backend

#157 ランキングにリンクを追加
  client/src/pages/special/shinbao.tsx
Labels: frontend

#158 deploy-競走馬のサイトを追加
  client/src/pages/special/shinbao.tsx
  manifests/manifests/api-server/api.yaml
  manifests/manifests/nextjs/next.yaml
Labels: frontend

#161 馬のidソートを入れた
  client/src/pages/horse.tsx
  client/src/pages/special/shinbao.tsx
Labels: frontend

#163 EditHorseを定義した
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#167 data store に Updateメソッドを追加
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  proto/spec/v1/userdata.proto
Labels: backend

#172 deployment-競走馬の編集画面を作成する
  Makefile
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  client/src/pages/admin.tsx
  client/src/pages/horse/[id].tsx
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
  manifests/manifests/api-server/api.yaml
  manifests/manifests/nextjs/next.yaml
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend

#176 deployment を楽にするツールを入れました
  .github/workflows/auto-deploy.yaml
Labels: ci-cd

#181 change setup-ruby
  .github/workflows/auto-deploy.yaml
  manifests/manifests/image-automation/image-automation.yaml
Labels: ci-cd

#187 fix labeling rule
  .github/labeler.yml
Labels: ci-cd

#190 特設サイトの文言を変更
  client/src/pages/special/shinbao.tsx
Labels: frontend

#192 表示に除外を追加
  client/src/util/util.ts
Labels: frontend

#194 rewrite connect go response
  go/pkg/authorizer/authorizer.go
  go/pkg/authorizer/jwtissuer.go
  go/pkg/file/horse.go
  go/pkg/file/persistent.go
  go/pkg/file/race.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
Labels: backend

#188 add golangci-lint rule
  .github/workflows/check_go.yaml
  go/.golangci.yml
  go/cmd/regist/horse/add.go
  go/go.mod
  go/go.sum
  go/main.go
  go/pkg/file/file.go
  go/pkg/file/horse.go
  go/pkg/file/horse_test.go
  go/pkg/file/persistent.go
  go/pkg/file/race.go
  go/pkg/file/race_test.go
  go/pkg/file/user.go
  go/pkg/file/user_test.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
  proto/spec/v1/userdata.proto
Labels: backend, ci-cd, PB

#202 ファイルの変更をするインターフェースをまとめた構造体を作成
  go/internal/route.go
  go/pkg/handler/handler.go
  go/pkg/handler/horseDataService.go
  go/pkg/handler/horseDataService_test.go
  go/pkg/handler/raceDataService.go
  go/pkg/handler/userDataService.go
Labels: backend

#198 馬写真のファイルサイズ制限を設けた
  client/_proto/spec/v1/userdata_pb.d.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  proto/spec/v1/userdata.proto
Labels: PB

#196 EditRaceを定義
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  go/go.sum
  proto/spec/v1/userdata.proto
Labels: documentation, backend, PB

#204 結果を反映
  client/src/pages/special/shinbao.tsx
Labels: frontend

#216 ロゴとファビコンを追加
  client/public/logo.png
  client/public/logo256.ico
  client/src/components/Header.tsx
  client/src/pages/horse.tsx
  client/src/pages/horse/[id].tsx
  client/src/pages/index.tsx
  client/src/pages/race.tsx
  client/src/pages/race/[id].tsx
  client/src/pages/special/shinbao.tsx
Labels: frontend

#206 impl EditRace
  go/pkg/handler/raceDataService.go
Labels: backend

#218 デフォルトOGPを追加
  client/public/ogp.png
  client/src/pages/horse.tsx
  client/src/pages/index.tsx
  client/src/pages/race.tsx
  client/src/pages/race/[id].tsx
  client/src/pages/special/shinbao.tsx
Labels: frontend

#219 nextJSのコンテナにstaticを含めるように
  client/Dockerfile
Labels: frontend

#223 install sharp
  client/package.json
  client/yarn.lock
Labels: frontend

#227 ogpを追加
  client/src/pages/horse.tsx
  client/src/pages/index.tsx
  client/src/pages/race.tsx
  client/src/pages/race/[id].tsx
  client/src/pages/special/shinbao.tsx
Labels: frontend

#231 レース編集UIを実装
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  client/src/components/RegisterField.tsx
  client/src/pages/admin.tsx
  client/src/pages/race/[id].tsx
  client/src/util/util.ts
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/go.mod
  go/go.sum
  go/pkg/handler/raceDataService.go
  go/pkg/handler/raceDataService_test.go
  proto/spec/v1/userdata.proto
Labels: documentation, frontend, backend, PB

#238 新馬王ランキングを更新
  client/src/pages/special/shinbao.tsx
Labels: frontend

#240 馬画像のサイズを指定した
  client/src/pages/horse/[id].tsx
Labels: frontend
