Repository ueckoken/chofu-race-course, pull requests merged in 2022-11, with the labels that each got.

#269 fix image build workflow
  .github/workflows/deploy-api-server.yaml
  .github/workflows/deploy-client.yaml
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
Labels: ci-cd

#279 結果入力のガワだけ作った
  client/src/components/RegisterField.tsx
  client/src/pages/admin.tsx
  client/src/pages/horse.tsx
  client/src/pages/horse/[id].tsx
  client/src/pages/race.tsx
  client/src/pages/race/[id].tsx
  client/src/util/client.ts
  client/src/util/use-client.ts
  client/src/util/util.ts
Labels: frontend

#288 レース履歴登録にプライマリーキー制約を付与
  go/pkg/handler/raceDataService.go
Labels: backend

#289 表に枠を追加した
  client/src/pages/horse/[id].tsx
  client/src/pages/race/[id].tsx
  client/src/styles/table.module.scss
Labels: frontend

#293 レース結果消すapiを定義
  client/_proto/spec/v1/userdata_connectweb.d.ts
  client/_proto/spec/v1/userdata_connectweb.js
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  go/_proto/spec/v1/v1connect/userdata.connect.go
  proto/spec/v1/userdata.proto
Labels: documentation, PB

#297 削除するレースを配列で指定するよう変更
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  proto/spec/v1/userdata.proto
Labels: documentation, PB

#298 ロゴクリックでトップページに移動するようにした
  client/src/components/Header.tsx
Labels: frontend

#301 新馬王戦の最終結果を入れた
  client/src/pages/index.tsx
  client/src/pages/special/shinbao.tsx
Labels: frontend

#304 変更対象のフィールドを指定するようにした
  client/_proto/spec/v1/userdata_pb.d.ts
  client/_proto/spec/v1/userdata_pb.js
  docs/protobuf.md
  go/_proto/spec/v1/userdata.pb.go
  go/_proto/spec/v1/userdata.pb.validate.go
  proto/spec/v1/userdata.proto
Labels: documentation, PB
